.leaderboard-sub-header {
    display: flex; // DISPLAY FLEX 
    justify-content: space-between; // JUSTIFY CONTENT
}

.leaderboard-sub-header>.Friends {
    margin-left: 130px; // MARGIN LEFT OF FRIENDS
}