.bar { // BAR OF PARTICIPANTS
    fill: #fed500; // FILL OF BAR 
    border-radius: 15px; // BORDER RADIUS OF BAR
}

.participants-header { // HEADER OF PARTICIPANTS
    margin-top: 20px; // MARGIN TOP OF HEADER 
    margin-left: 20px; // MARGIN LEFT OF HEADER 
}

.participants-label { // LABEL OF PARTICIPANTS 
    margin-right: 10px; // MARGIN RIGHT OF LABEL
    font-size: 28px; // FONT SIZE OF LABEL
    font-weight: bold; // FONT WEIGHT OF LABEL 
}

.participants-image { // IMAGE OF PARTICIPANTS 
    width: 24px; // WIDTH OF IMAGE
}

.participants-sub { // SUBTITLE OF PARTICIPANTS 
    margin-top: 0; // MARGIN TOP OF SUBTITLE 
    margin-left: 20px; // MARGIN LEFT OF SUBTITLE 
}