@import './index.scss';

.header {
    max-width: 760px; // MAX WIDTH OF HEADER 
    margin: 0 auto; // MARGIN OF HEADER 
}

.title {
    font-size: 25px; // FONT SIZE OF TITLE
    font-weight: 600; // FONT WEIGHT OF TITLE 
    color: #000; // COLOUR OF TITLE
}

.main {
    max-width: 760px; // MAX WIDTH OF WRAPPER
    margin: 30px auto; // MARGIN OF WRAPPER 
    background-color: var(--white); // BACKGROUND COLOUR
    border: 2px solid var(--gray-light); // BORDER
    border-radius: 10px; // BORDER RADIUS
}

.grid {
    display: grid; // DISPLAY GRID LAYOUT
    grid-gap: 1.5rem; // GAP BETWEEN GRID ITEMS
    padding: 3rem; // GAP BETWEEN GRID AND CONTAINER
    background-color: var(--white); // BACKGROUND COLOUR
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // NUMBER OF COLUMNS AND WIDTH OF COLUMNS
}

.participants-grid-item {
    grid-column: 1 / 3; // START AND END OF GRID ITEM
    grid-row: 1 / 2; // START AND END OF GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
    border: none; // BORDER NONE 
    box-shadow: 3px 3px 10px var(--gray-light); // BOX SHADOW 
    border-radius: 10px; // BORDER RADIUS 
}

.insights-grid-item {
    grid-column: 1 / 3; // START AND END OF GRID ITEM
    grid-row: 2 / 3; // START AND END OF GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
    margin-bottom: 1.5rem; // GAP BETWEEN GRID ITEM AND NEXT GRID ITEM
    border: none; // BORDER NONE 
    box-shadow: 3px 3px 10px var(--gray-light); // BOX SHADOW 
    border-radius: 10px; // BORDER RADIUS 
}

.minor-grid-item {
    border: 1px solid #000; // BORDER AROUND GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
    grid-template-columns: 1fr; // NUMBER OF COLUMNS
    grid-template-rows: 1fr; // NUMBER OF ROWS
    width: 100%; // WIDTH OF GRID ITEM
    border: none; // BORDER NONE 
    box-shadow: 3px 3px 8px var(--gray-light); // BOX SHADOW 
    border-radius: 10px; // BORDER RADIUS 
}

.footer {
    text-align: center; // TEXT ALIGNMENT
}

.container {
    padding-left: 20px; // PADDING LEFT 
    padding-right: 20px; // PADDING RIGHT 
}

.header-container {
    display: flex; // DISPLAY FLEX 
    align-items: center; // ALIGN ITEMS 
    justify-content: space-between; // JUSTIFY CONTENT 

}

.button {
    background: var(--white); // BACKGROUND COLOUR 
    border: none; // BORDER NONE
    border-radius: 5px; // BORDER RADIUS 
    padding: 5px; // PADDING 
    cursor: pointer; // CURSOR POINTER 
}

.button:hover {
    background-color: var(--white-light); // BACKGROUND COLOUR ON HOVER
}

.footer-button {
    margin-top: 3px; // MARGIN TOP FOR FOOTER BUTTON
    background: Gainsboro; // BACKGROUND COLOUR FOR FOOTER BUTTON
}

.data {
    display: flex; // DISPLAY FLEX 
    align-items: center; // ALIGN ITEMS 
    justify-content: space-between; // JUSTIFY CONTENT 
    margin-top: 2px; // MARGIN TOP OF DATA
}

.progress-bar {
    background-color: rgb(255, 250, 179); // BACKGROUND COLOUR OF PROGRESS BAR
    border-radius: 5px; // BORDER RADIUS OF PROGRESS BAR
}

.emoji-country {
    font-size: 16px; // FONT SIZE OF EMOJI COUNTRY;
}

.popup {
    // display: block; // DISPLAY BLOCK
    // position: fixed; // POSITION FIXED
    position: absolute;
    width: 200px;
    // height: 42%;
    background: var(--white-light);
    // opacity: 0.8;
    color: var(--main);
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    // margin: 40px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 3px 13px 20px var(--gray-light);
    border: 5px solid var(--silver);
}