.header {
    max-width: 560px;
    margin: 0 auto;
}

.wrapper {
    max-width: 560px;
    margin: 0 auto;
}

.grid {
    display: grid; // DISPLAY GRID LAYOUT
    grid-gap: 1rem; // GAP BETWEEN GRID ITEMS
    padding: 1rem; // GAP BETWEEN GRID AND CONTAINER
    border: 1px solid #000; // BORDER AROUND GRID
    background-color: var(--white); // BACKGROUND COLOUR
    // justify-content: space-evenly; /* horizontally spreads the grid items evenly */
    // align-content: space-evenly;   /* vertically spreads the grid items evenly */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.participants-grid-item {
    grid-column: 1 / 3; // START AND END OF GRID ITEM
    grid-row: 1 / 2; // START AND END OF GRID ITEM
    border: 1px solid #000; // BORDER AROUND GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
}

.insights-grid-item {
    grid-column: 1 / 3; // START AND END OF GRID ITEM
    grid-row: 2 / 3; // START AND END OF GRID ITEM
    border: 1px solid #000; // BORDER AROUND GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
    margin-bottom: 1.5rem; // GAP BETWEEN GRID ITEM AND NEXT GRID ITEM
}

.minor-grid-item {
    border: 1px solid #000; // BORDER AROUND GRID ITEM
    height: 220px; // HEIGHT OF GRID ITEM
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

// .participants {
// }

// .insights {
// }

// .leaderboard {
// }

// .traffic {
// }

// .location {
// }

// .behaviour {
// }

.footer {
    text-align: center;
}